<footer class="site-footer">
    <nav class="social">
        <ul>
            <li><a class="social__item  social__item--colophon" href="{{ site.social.source }}">Source on GitHub</a></li>

            <li><a class="social__item" href="https://twitter.com/{{ site.social.twitter }}" title="Twitter"><svg class="icon  icon--social"><use xlink:href="#shape--twitter"></use></svg></a></li>

            <li><a class="social__item" href="mailto:{{ site.email }}" title="Mail"><svg class="icon  icon--social"><use xlink:href="#shape--mail"></use></svg></a></li>

            <li><a class="social__item" href="https://github.com/{{ site.social.github }}" target="_blank" title="GitHub"><svg class="icon  icon--social"><use xlink:href="#shape--github"></use></svg></a></li>
        </ul>
    </nav>
</footer>