/*------------------------------------*\
    #DETAILS-LIST-WRAP
\*------------------------------------*/

.page__details {
  @include media($large) {
    width: 50%;
    float: right;
    z-index: 0;
    overflow-y: auto;
  }

  &:hover .icon--frontend {
    fill: $frontend;
  }
  &:hover .icon--backend {
    fill: $backend;
  }
  &:hover .icon--design {
    fill: $design;
  }

  // Display SVG in defined color on smaller screens by default.
  @include media(max-width $large) {
    .icon--frontend {
      fill: $frontend;
    }
    .icon--backend {
      fill: $backend;
    }
    .icon--design {
      fill: $design;
    }
  }
}




/*------------------------------------*\
    #DETAILS-ITEM
\*------------------------------------*/

/**
 * 1. The Detail-Item is set to 100% of the viewport height
 *    or the minimal height of 50rem to ensure a unified
 *    scroll experience between items.
 *
 * 2. Hide the scroll indicator when the JS event triggered the
 *    class change.
 */


.detail {
  @include clearfix;
  position: relative;
  padding: 3rem;
  overflow: hidden;
  box-shadow: 0 5px 3px -5px rgba($gray, .9);

  @include media($large) {
    padding: 15vh $scale5 $scale5;
    height: 100vh; /* [1] */
    min-height: $min-height;
    &:first-of-type {
      padding-top: 10vh;
    }
  }

  &:nth-of-type(3) {
    background-color: #f9f9fa;
    z-index: -1;
  }

  &:first-of-type:after {
    content: "";
    @include triangle(1rem, #adb1b9, down);
    display: block;
    position: absolute;
    left: calc(50% - .5rem);
    bottom: $scale3;
    @include animation(scroll 3s ease infinite);
  }

  &.is-scrolled:first-of-type:after {
    /* [2] */
    visibility: hidden;
  }
}


.detail__content {
  width: 100%;
  float: left;

  @include media($large) {
    max-width: 30rem;
  }

  &--first {
    float: initial;
  }
}




/**
 * Overview Icon Wrapper
 */

.detail-overview {
  @include clearfix;
  margin-top: 3vh;
  margin-bottom: 8vh;
}




/**
 * Preview Icon
 */

.detail__preview {
  display: block;
  position: relative;
  padding: 1rem;
  text-align: center;
  border: 1px solid transparent;
  @include transition(all .3s);

  @include media($large) {
    float: left;
    width: 33.3%;
  }

  &:hover {
    background-color: #fefefe;
    border: 1px solid #f0f0f0;

    .detail__preview-title:after {
      opacity: 1;
    }
  }
}




/**
 * Preview Icon Title
 */

.detail__preview-title {
  display: block;
  line-height: 2;
  font-size: $scale;
  font-weight: 500;
  letter-spacing: 1px;
  white-space: nowrap;
  color: $base-font-color;

  &:after {
    content: "";
    @include triangle(1rem, #eee, down);
    display: block;
    position: absolute;
    bottom: calc(-.5rem - 1px);
    left: calc(50% - .5rem);
    opacity: 0;
    @include transition(opacity .1s);
  }
}




/**
 * Big Section Headline
 *
 * 1. Set up the image with color overlay as background for the
 *    section title. (Defaults set in core/mixins)
 */

.detail__title {
  margin-bottom: 10vh;
  font-size: $scale5;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: rem(3px);
  text-align: center;
  position: relative;
  z-index: 99;
  @include text-background; /* [1] */

  &--frontend {
    @include text-background($frontend);
  }

  &--backend {
    @include text-background($backend);
  }

  &--design {
    @include text-background($design);
  }
}




/**
 * Links to Buzzwords
 */

.detail__tag {
  margin-right: $scale;
  font-weight: 500;
  font-size: $scale-1;
  letter-spacing: .05rem;
  color: #333;
  border-bottom: 1px solid #ccc;
}




/**
 * SVG Section Background Icon
 *
 */

.detail__background {
  fill: #fdfdfd;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 25%;
  z-index: 1;

  &--backend {
    fill: #fbfbfb;
  }
}
