@import "neat-helpers";

// Dimensions
$max-width: 30rem;
$min-height: 50rem;

// Breakpoints
$small:     rem(480);
$medium:    rem(640);
$large:     rem(1024);

// Prefix Settings
$prefix-for-webkit   : true;
$prefix-for-mozilla  : false;
$prefix-for-microsoft: false;
$prefix-for-opera    : false;
$prefix-for-spec     : true;